<div class="row">
    <div class="col-5 ms-3">
        <h1 class="welcome ps-5">
            Welcome to your professional community
        </h1>
        <div class="">
            <label for="">Email or phone</label>
        </div>
        <div>
            <input type="text">
        </div>
        <div class="">
            <label for="">Password</label>
        </div>
        <div>
            <input type="text">
        </div>
        <div class="forgot">
            <a href="">
                forggot password
            </a>
        </div>
        <div class="d-grid col-9 ms-5 mt-3">
            <button class="btn btn-primary rounded-pill p-3" type="button">Button</button>
          </div>
          <div class="d-flex mt-3">
            <div class="line"><hr></div>
            <p class="ps-3">or</p>
            <div class="line2"><hr></div>
          </div>
          <div class="col-10 ms-5">
            <small>
                By clicking Continue, you agree to LinkedIn’s <a href="">User Agreement</a>, <a href="">Privacy Policy</a>, and <a href="">Cookie Policy</a>.
            </small>
          </div>
          <div class="d-grid col-9 ms-5 mt-3 ">
            <button class="btn btn-outline-secondary rounded-pill p-3 fw-medium" type="button">👜continue with goggle™</button>
          </div>
          <div class="d-grid col-9 ms-5 mt-3">
            <button class="btn btn-outline-secondary rounded-pill p-3 fw-medium" type="button">New to LinkedIn? Join now</button>
          </div>
    </div>
    <div class="image col-7">
        <img class="image" [src]="imageUrl" alt="Image Description">
    </div>
</div>
